.contentHeader {
  text-align: center;
  font-size: 3rem;
  cursor: pointer;

}



.contentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  justify-content: center;
  gap: 40px;
  padding: 40px;

}

.noOverflow{
  overflow: hidden; /* Hide scrollbars */

}

@media (max-width: 560px) {
  .contentGrid {
    grid-template-columns: 100%;
  }
}
